.box {
  position: absolute;
  height: 740px;
  width: 740px;
  border: 5px solid black;
} 

@keyframes test {
  0% {background-color: red; margin-left: 0px; margin-top: 0px} /* starting position */
  25% {background-color: purple; margin-left: 500px; margin-top: 0px; transform: rotate(-360deg)}
  50% {background-color: blue; margin-left: 500px; margin-top: 500px; transform: rotate(-720deg)}
  75% {background-color: green; margin-top: 500px; margin-left: 0px; transform: rotate(-1080deg)}
  100% {background-color: red; margin-left: 0px; margin-top: 0px; transform: rotate(-1440deg)} /* ending position */
}

.animation {
  background-color: brown; /* starting color */
  width: 200px; /* Shaping animation */
  height: 200px; /* shaping animation */
  border-radius: 100%;
  border: 20px dashed black;
  animation-name: test; /* Name comes from @key frames */
  animation-duration: 10s; /* time it takes fot the animation to occur */
  animation-iteration-count: infinite; /* loops the animation can be set to certain number of times */
  /*animation-direction: alternate; Runs animation backwards */
  animation-timing-function: linear; /* timing of transition */
}